<footer>
    <div class="footer-column">
        <p>Email: <a href="mailto:support@constructionworkersupport.com">support@constructionworkersupport.com</a></p>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Know Your Card</a>
        <a href="#">CSCS Card Types</a>
        <a href="#">Trade Wise Test</a>
        <a href="#">Test Centers</a>
    </div>
    <div class="footer-column">
        <p>Secure Payment:</p>
        <img src="images/pay.jpg" alt="Stripe, Visa, Mastercard" />
    </div>
    <div class="footer-column">
        <img src="images/Construction.png" alt="Construction Worker Support">
        <p><strong>CCS</strong> Construction Card Support</p>
    </div>
</footer>