<header class="navbar">
    <div class="logo">
        <a href="index1.html">
            <img src="images/Construction.png" alt="Construction Card Support" style="vertical-align: middle;">
            <span style="font-size: 1.5rem; font-weight: bold; color: white ; margin-left: 10px; vertical-align: middle;">Construction Card Support</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="citb-test.html">CITB Test</a></li>
            <li class="dropdown">
            <a href="#">CSCS Cards</a>
            <ul class="dropdown-content">
                <li><a href="#">Green Labourer</a></li>
                <li><a href="#">Blue Skilled</a></li>
                <li><a href="#">Red Provisional</a></li>
                <li><a href="#">Gold Advanced Craft</a></li>
                <li><a href="#">Gold Supervisor</a></li>
                <li><a href="#">Black Manager</a></li>
                <li><a href="cscs-all-cards.html">All CSCS Cards</a></li>
            </ul>
            </li>
            <li><a href="#">Construction Courses</a></li>
            <li><a href="#">Group Booking</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>