<header class="navbar">
    <div class="logo">
        <a href="index1.html">
            <img src="images/Construction.png" alt="Construction Worker Support">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="citb-test.html">CITB Test</a></li>
            <li><a href="#">CSCS Cards</a></li>
            <li><a href="#">Construction Courses</a></li>
            <li><a href="#">Group Booking</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>