<div class="site-tagline text-center py-1 bg-light text-dark">
    “We build with skill, We deliver with Pride”
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
      <img src="images/Construction.png" alt="Construction Worker Support" style="height: 50px;">
      <span class="ms-2" style="font-size: 1.5rem; font-weight: bold;">Construction Card Support</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="citb-test.html">CITB Test</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CSCS Cards
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="green-labourer-card.html">Green Labourer</a></li>
            <li><a class="dropdown-item" href="#">Blue Skilled</a></li>
            <li><a class="dropdown-item" href="#">Red Provisional</a></li>
            <li><a class="dropdown-item" href="#">Gold Advanced Craft</a></li>
            <li><a class="dropdown-item" href="#">Gold Supervisor</a></li>
            <li><a class="dropdown-item" href="#">Black Manager</a></li>
            <li><a class="dropdown-item" href="cscs-all-cards.html">All CSCS Cards</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Construction Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Group Booking</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>